<article>
  <p>This is a thin API layer on top of the CSV data provided by the <a href="https://www.propertypriceregister.ie">Property Services Regulatory Authority</a>. The PSRA&rsquo;s CSVs have some funny encoding (CP1252), a misconfigured SSL certificate, and are generally a bit annoying to query directly. This service queries the CSVs and provides them here with a more standard JSON API. It doesn&rsquo;t do any normalising or cleaning of the data, so any errors present on the register itself will be present here.</p>
  <p>There are a bunch of caveats about the data on the <a href="https://www.propertypriceregister.ie">PSRA&rsquo;s price register site</a>, so look for answers there if you&rsquo;re curious.</p>
  <p>The API only covers residential properties. Maybe you want to add commercial properties? <a href="https://www.github.com/civictech-ie/price-register">Go ahead</a>.</p>
  <p>I&rsquo;ve tried to make this little site illustrate how one might intereact with this API. It&rsquo;s generally what you'd expect, I hope. <code>GET /api/sales</code> will return a list of JSON objects. <code>GET /api/sales/:id</code> will return a single JSON sale object. The <code>:id</code> is a uuid, so it's not guessable – you'll need to <code>GET /api/sales</code> to find them.</p>
  <p>This site itself isn&rsquo;t intended to be a useful interface for humans. Sorry.</p>
  <p class="salutation">enjoy, <br><a href="https://www.flngn.com/" title="brian flanagan, civic tech person">brian</a> / <a href="https://www.civictech.ie" title="civic tech for ireland">civictech.ie</a></p>
</article>