list of sales:
<ol class="sales">
  <%= for sale <- @sales do %>
    <li class="sale">
      <%= sale.address %>
      <%= sale.county %>
      <%= sale.date_of_sale %>
      <%= sale.description_of_property %>
      <%= sale.eircode %>
      <%= sale.not_full_market_price %>
      <%= sale.price_in_cents |> format_currency %>
      <%= sale.property_size_description %>
      <%= sale.vat_exclusive %>
    </li>
  <% end %>
</ol>
