/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html {
  font-size: 15px;
  text-transform: uppercase;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  padding: 1rem;
  background: white;
}

.api-bar {
  width: 100%;
  font-family: monospace;
  box-shadow: 0 0 0 1px black;
  border-radius: 2px;
  padding: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.3;
  outline: 0;
  border: 0;
}

.table__header {
  background: white;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
}

.table__rows {
  display: flex;
  flex-direction: column;
}

.table__row {
  display: flex;
  flex-direction: row;
}

.table__cell {
  display: none;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.125rem 0;

  &.--two {
    flex: 2;
  }

  &.--three {
    flex: 3;
  }

  &.--important {
    display: flex;
  }
}

@media (min-width: 1024px) {
  /* Adjust this value based on your design needs */
  .table__cell {
    display: flex; /* Show all cells on larger screens */
  }
}
