@font-face {
  font-family: "c-mono";
  src: url("https://civictech-static.fra1.cdn.digitaloceanspaces.com/fonts/c-mono-400.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "c-mono", serif;
  font-size: 13px;
  -webkit-backface-visibility: visible;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --neg: #000;
  --pos: #fff;
  --accent: #f50;
  --subtle: #f4f4f4;
}

/* dark mode, listen for prefers-color-scheme */

@media (prefers-color-scheme: dark) {
  html {
    --neg: #fff;
    --pos: #000;
    --accent: #f50;
    --subtle: #666;
  }
}

body {
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem;
  background: var(--pos);
  color: var(--neg);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 8rem;

  a,
  a:link,
  a:visited {
    color: var(--neg);
    text-decoration: none;
  }
  a:hover {
    color: var(--accent);
  }

  .logotype {
    text-transform: uppercase;
  }
}

a,
a:link,
a:visited {
  color: var(--neg);
}
a:hover {
  color: var(--accent);
}

article {
  max-width: 36rem;
  margin-bottom: 2rem;
  code {
    background-color: var(--subtle);
  }
}

.controls {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.125rem 0.75rem;

  input[type="text"] {
    flex: 1;
    font-family: "c-mono", monospace;
    box-shadow: 0 0 0 1px var(--neg);
    background-color: var(--pos);
    color: var(--neg);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    outline: 0;
    border: 0;
  }

  button {
    color: var(--neg);
    font-family: "c-mono", monospace;
    box-shadow: 0 0 0 1px var(--neg);
    border-radius: 1rem;
    padding: 0.25rem 0.675rem;
    background: var(--pos);
    font-size: 1rem;
    line-height: 1.4;
    outline: 0;
    border: 0;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.table {
  .table__header,
  .table__rows {
    margin: 0;
    width: 100%;
  }
}

.table__header {
  z-index: 9;
  position: sticky;
  top: 0;
  background: var(--pos);
  border-bottom: 1px solid var(--neg);

  .table__row {
  }
}

.table__rows {
  display: flex;
  flex-direction: column;
  padding: 0.15rem 0;
  list-style: none;
}

.table__row {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0;
  gap: 1rem;
}

.hover-inspector {
  position: relative;
  &:hover {
    cursor: help;
    color: var(--accent);
  }
}

.hover-inspector::after {
  content: attr(data-json);
  position: fixed;
  left: var(--tooltip-left, 0);
  top: var(--tooltip-top, 0);
  width: 32rem;
  background: var(--pos);
  box-shadow: 0 0 0 1px var(--neg);
  white-space: pre-wrap;
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 1;
  color: var(--neg);
}

.hover-inspector:hover::after {
  opacity: 1;
  transition-delay: 1s;
}

.table__cell {
  display: none;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 8rem;

  &.--two {
    flex: 2;
  }

  &.--three {
    flex: 3;
  }

  &.--important {
    display: block;
  }

  &:last-child {
    justify-content: flex-end;
    text-align: right;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 14px;
  }

  .table__cell {
    display: flex;
  }
}
