/* pull in font from static.civictech.ie/c-mono-400.woff */

@font-face {
  font-family: "c-mono";
  src: url("/fonts/c-mono-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "c-mono", serif;
  font-size: 11.5px;
  -webkit-backface-visibility: visible;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --neg: #000;
  --pos: #fff;
  --accent: #f00;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem;
  background: var(--pos);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 8rem;

  a,
  a:link,
  a:visited {
    color: var(--neg);
    text-decoration: none;
  }
  a:hover {
    color: var(--accent);
  }

  .logotype {
    text-transform: uppercase;
  }
}

a,
a:link,
a:visited {
  color: var(--neg);
}
a:hover {
  color: var(--accent);
}

article {
  max-width: 36rem;
  margin-bottom: 2rem;
  code {
    background-color: #f4f4f4;
  }
}

.table__header {
  background: var(--pos);
  border-bottom: 1px solid var(--neg);
  position: sticky;
  top: 0;
}

.table__controls {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 0.75rem;

  input[type="text"] {
    flex: 1;
    font-family: "c-mono", monospace;
    box-shadow: 0 0 0 1px var(--neg);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    outline: 0;
    border: 0;
  }

  button {
    color: var(--neg);
    font-family: "c-mono", monospace;
    box-shadow: 0 0 0 1px var(--neg);
    border-radius: 1rem;
    padding: 0.25rem 0.675rem;
    background: var(--pos);
    font-size: 1rem;
    line-height: 1.4;
    outline: 0;
    border: 0;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.table__pages {
  width: 6rem;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;

  button {
  }
}

.table__rows {
  display: flex;
  flex-direction: column;
  padding: 0.15rem 0;
}

.table__row {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0;
  gap: 1rem;
}

.table__cell {
  display: none;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;

  &.--two {
    flex: 2;
  }

  &.--three {
    flex: 3;
  }

  &.--important {
    display: flex;
  }

  &:last-child {
    justify-content: flex-end;
    text-align: right;
    min-width: 9rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  .table__cell {
    display: flex;
  }
}
