// reset

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-backface-visibility: visible;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

// fonts

@font-face {
  font-family: "c-mono";
  src: url('https://d2jelilm07lhuq.cloudfront.net/typefaces/c-mono-400.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

// styles

html {
  font-size: 8px;
  --accent: #ff4400;
  --background: #fafafa;
  --ink: #000;
  --offset: #eee;
}

@media (prefers-color-scheme: dark) {
  html {
    --accent: #ff0000;
    --background: #000;
    --ink: #fafafa;
    --offset: #333;
  }
}

body {
  background-color: var(--background);
  color: var(--ink);
  font-size: 1.8rem;
  line-height: 2.43rem;
  font-family: "c-mono", serif;
}

::selection {
  color: var(--accent); 
  background: var(--offset);
}

input[type="text"] {
  color: var(--ink);
  font-size: 1.8rem;
  line-height: 2.43rem;
  font-family: "c-mono", serif;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

a, a:link, a:visited {
  color: var(--ink);
  text-decoration: none;
  &:hover {
    color: var(--accent);
  }
}

header {
  padding: 2rem 2rem 10rem;
}

main {
  padding: 0 0 2rem;
}

nav {
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .request {
    margin-bottom: 2rem;
    input[type="text"] {
      &[disabled] {
        margin: 0;
        width: 100%;
        background: var(--background);
        border: 1px solid var(--ink);
        color: var(--ink);
        -webkit-text-fill-color: var(--ink);
        opacity: 1;
      }
    }
  }

  .pagination {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.disabled {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .request {
      margin: 0;
      input[type="text"] {
        &[disabled] {
          width: 64rem;
        }
      }
    }

    .pagination {
      justify-content: flex-end;

      .total {
        &:after {
          content: " / ";
        }
      }
    }
  }
}

.view {
  padding: 0 2rem 0;
  margin-top: 4rem;
  max-width: 100%;
  overflow: auto;

  @media screen and (min-width: 768px) {
    overflow: visible;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  thead {
    tr {
      th {
      }
    }
  }

  tr {
    &.-clickable {
      &:hover {
        cursor: pointer;
        color: var(--accent);
      }
    }
  }

  th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    border-bottom: 1px solid var(--ink);

    &.-sm {
      width: 15%;
      max-width: 15%;
    }
    &.-lg {
      width: 55%;
      max-width: 55%;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      text-align: right;
    }
  }

  tbody {
    tr {
      &:last-child {
        th, td {
          border-bottom: 0;
        }
      }
    }
  }


  @media screen and (min-width: 768px) {
    width: 100%;
    thead {
      background-color: var(--background);
      position: sticky;
      top: 7.625rem;
    }
  }

  @media screen and (min-width: 960px) {
  }
}

article {
  max-width: 64rem;
  padding-bottom: 10rem;

  a, a:link, a:visited {
    border-bottom: 1px solid var(--ink);
    &:hover {
      border-bottom-color: var(--accent);
    }
  }

  code {
    background-color: var(--offset);
    border-radius: 0.25rem;
    &:before, &:after {
      content: "`";
    }
  }

  p + p {
    text-indent: 8rem;
  }

  p.salutation {
    text-indent: 0;
    margin: 2rem;
    padding-left: 8rem;
  }
}