// reset

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-backface-visibility: visible;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

// fonts

@font-face {
  font-family: "c-mono";
  src: url("https://d2jelilm07lhuq.cloudfront.net/typefaces/c-mono-400.woff")
    format("woff");
  font-style: normal;
  font-weight: 400;
}

// styles

html {
  font-size: 7px;
  --accent: #ff4400;
  --background: #fafafa;
  --ink: #000;
  --offset: #eee;

  @media screen and (min-width: 800px) {
    font-size: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --accent: #ff0000;
    --background: #000;
    --ink: #fafafa;
    --offset: #333;
  }
}

body {
  background-color: var(--background);
  color: var(--ink);
  font-size: 1.8rem;
  line-height: 2.43rem;
  font-family: "c-mono", serif;
}

::selection {
  color: var(--accent);
  background: var(--offset);
}

input[type="text"] {
  color: var(--ink);
  font-size: 1.8rem;
  line-height: 2.43rem;
  font-family: "c-mono", serif;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

a,
a:link,
a:visited {
  color: var(--ink);
  text-decoration: none;
  &:hover {
    color: var(--accent);
  }
}

body > header {
  padding: 2rem 2rem 10rem;
}

body > main {
  padding: 0 0 2rem;
}

.view-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 99;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .request {
    margin-bottom: 2rem;
    input[type="text"] {
      &[disabled] {
        margin: 0;
        width: 100%;
        background: var(--background);
        border: 1px solid var(--ink);
        color: var(--ink);
        -webkit-text-fill-color: var(--ink);
        opacity: 1;
      }
    }
  }

  .pagination {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.disabled {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .request {
      margin: 0;
      input[type="text"] {
        &[disabled] {
          width: 64rem;
        }
      }
    }

    .pagination {
      justify-content: flex-end;

      .total {
        &:after {
          content: " / ";
        }
      }
    }
  }

  @media screen and (min-width: 960px) {
    .request {
      input[type="text"] {
        &[disabled] {
          width: 72rem;
        }
      }
    }
  }
}

.view {
  padding: 0 2rem 0;
  margin-top: 4rem;

  @media screen and (min-width: 720px) {
  }
}

.list-view {
  & > header {
    z-index: 98;
    position: -webkit-sticky;
    position: sticky;
    top: 12.142857142857143rem;
    background-color: var(--background);
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--ink);
    .row {
    }

    @media screen and (min-width: 720px) {
    }

    @media screen and (min-width: 800px) {
      top: 7.625rem;
    }
  }

  & > main {
  }

  li {
    position: relative;

    &:nth-child(even) {
    }
  }

  .sale-tooltip {
    display: block;
    z-index: 99;
    background: var(--background);
    border: 1px solid var(--ink);
    position: fixed;
    bottom: -24rem;
    right: 6rem;
    font-size: 1.5rem;
    line-height: 1.35;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s 0.5s, bottom 0.5s 0.5s;

    header {
      border-bottom: 1px solid var(--ink);
      padding: 2rem;
    }
  }

  .row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    text-transform: uppercase;

    &:hover {
      color: var(--accent);
      cursor: help;
      @media screen and (min-width: 800px) {
        & ~ .sale-tooltip {
          pointer-events: all;
          opacity: 1;
          bottom: 6rem;
        }
      }
    }

    .link {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    .label,
    .data {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      overflow: hidden;
      padding: 0.5rem 2rem 0.5rem 0;

      span,
      label {
        display: block;
        width: 100%;
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.price {
        text-align: right;
        padding-right: 0;
      }

      &.date {
      }

      &.county {
        display: none;
      }

      &.address {
        flex-grow: 2;
      }

      &.value,
      &.note {
        flex-grow: 2;
        text-transform: none;
      }

      &.price,
      &.note {
        display: none;
      }

      @media screen and (min-width: 720px) {
        &.date {
        }

        &.address,
        &.value {
          flex-grow: 3;
        }

        &.price {
          display: flex;
        }
      }

      @media screen and (min-width: 800px) {
        &.county,
        &.note {
          display: flex;
        }
      }
    }
  }
}

.json {
  padding: 2rem;
  &:before {
    content: "{";
  }
  &:after {
    content: "}";
  }
  & > li {
    padding-left: 4rem;
    display: flex;
    .field {
      text-transform: uppercase;
      &:after {
        content: ": ";
      }
    }
    .data {
    }
  }
  .note {
    display: none;
  }
}

article {
  max-width: 64rem;
  padding-bottom: 10rem;

  a,
  a:link,
  a:visited {
    border-bottom: 1px solid var(--ink);
    &:hover {
      border-bottom-color: var(--accent);
    }
  }

  code {
    background-color: var(--offset);
    border-radius: 0.25rem;
    &:before,
    &:after {
      content: "`";
    }
  }

  p + p {
    text-indent: 8rem;
  }

  p.salutation {
    text-indent: 0;
    margin: 2rem;
    padding-left: 8rem;
  }
}
