<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Price Register">
      <%= assigns[:page_title] || "" %>
    </.live_title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap"
      rel="stylesheet"
    />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header>
      <div class="wrapper">
        <h1><a href="/">Price Register API</a></h1>
        <a href="/info">info</a>
      </div>
    </header>
    <main role="main">
      <%= @inner_content %>
    </main>
  </body>
</html>
